.filterinterface-wrapper {
  background-color: white;
  width: 100%;
  min-height: calc(100dvh - var(--navbarHeightMobile));
  padding: 5rem 1rem 3rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:var(--navbarHeightMobile);
  left:0;
}
.filterinterface-form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.filterinterface-form-label {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.filterinterface-dimensions{
  padding: 1rem 0;
}

.filterinterface-form-input {
  padding: 0.4rem 1rem;
  border: none;
  border-bottom: 2px solid black;
}

.filterinterface-form-dimension-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.filterinterface-form-dimension-input {
  width: 50px;
  text-align: center;
}

.filterinterface-form-select {
  padding: 1rem;
  border: none;
  border-bottom: 2px solid black;
}

.filterinterface-reset-button {
  margin: 2.5rem 0 0 0;
}
