#ArtworkDetailsPage{
    display:block;
}

.artwork-thumbnail-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.artwork-thumbnail img{
    height: 60px;
    margin-right:4px;
}

.artwork-details-wrapper{
    margin:12px;
}

.artwork-request-button{
    padding: 0.6rem 1.6rem;
    width: 100%;
}