.artworks-scrollbar-container{
    display:flex;
    flex-direction: column;
}

.profile-artworks-scrollbar{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap:0.5rem;
}

.profile-artwork-card-wrapper{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
}
.scrollbar-heading{
    font-weight:600;
    padding:15px 0;
}
.artworks-scrollbar-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.create-artwork-button{
    background-color: black;
    border-radius:20px;
    width:36px;

}
.create-artwork-button >p {
    color:white;
    font-size: 24px;
    text-align: center;
}