
.artworks-content-wrapper{
    display:none;
}

/* FILTER INTERFACE BUTTON */
.artworks-filterinterfacebutton-wrapper {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.artworks-filterinterfacebutton-wrapper-inner {
  position: fixed;
  top: var(--navbarHeightMobile);
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 1rem;
}
.artworks-filterinterfacebutton-icon-wrapper {
  width: 30px;
  display: flex;
}
.artworks-filterinterfacebutton-icon-wrapper > img {
  width: 100%;
}

/* ARTWORKS CARDS */
.artworks-artwork-cards {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
