.artworks-scrollbar-container {
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.profile-artworks-scrollbar {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 0.5rem;
}

.profile-artwork-card-wrapper {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
}
.scrollbar-heading {
  font-weight: 600;
  /* padding:15px 0; */
}
.artworks-scrollbar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.create-artwork-button {
  background-color: black;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.4rem;
}