.profile-type{
    font-size:20px;
    color: rgb(149, 153, 157);
}
.edit-profile-textarea{
    width:80%;
    height:100px;
}
.edit-profile-info-wrapper{
    display: flex;
    flex-direction: row;
    gap:1.2rem;
}

.edit-profile-img-wrapper{
    width:40%;
    border-radius:50%;
    justify-self: flex-start;
    padding-right: 30px;
}

.edit-profile-img-wrapper > img{
    width:100%
}

.contact-wrapper{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
}

.address-wrapper{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}
.loans-section-wrapper{
    display: flex;
    flex-direction: column;
}

.requests-section-wrapper{
    display: flex;
    flex-direction: column;
}
