.faq-question-wrapper{
    border: solid 1px black;
}
.faq-question-headline{
    background-color: rgb(233, 233, 233);
    padding: 1rem;
    font-weight: 500;
}
.faq-question-text{
    padding: 1rem;
    display: none;
    border-top:solid 1px black;
}
.show{
    display:block;
}