.notification-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 85%;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}
.notification-card-title-wrapper {
  background-color: rgb(223, 223, 223);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 0.8rem 1.4rem;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.notification-card-title-icon-wrapper {
  width: 25px;
  display: flex;
}
.notification-card-title-icon-wrapper > img {
  width: 100%;
}
.notification-card-headline {
  box-sizing: border-box;
  flex-grow: 1;
  font-weight: 500;
}
.notification-card-text-wrapper{
  display: flex;
  flex-direction: column;
  gap:1rem;
  padding: 1rem;
}
.notification-card-text {
  text-align: center;
}
.notification-card-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.notification-card-button {
  padding: 0.8rem 0;
  /* flex-grow: 1; */
  border: none;
  /* border-top: 1px solid black; */
  padding: 0.6rem 1.2rem;
  margin-bottom: 1rem;
}
.new {
  background-color: rgb(192, 255, 172);
}
.notification-card-link {
  /* text-decoration: underline; */
  color: rgb(0, 13, 255);
  /* background-color: rgb(192, 241, 255); */
}
