.profile-wrapper {
  /* display: flex;
  flex-direction: column;
  gap:2rem; */
}
.profile-edit-link {
  position: absolute;
  right: 10px;
  font-weight: 600;
}
.profile-artist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: aqua;
}
.profile-artist-statement-wrapper {
    background-color: rgb(255, 238, 0);
}
.profile-artist-statement-statement-headline {
}
.profile-artist-statement-statement-statement {
}
.profile-section-headline {
}
.profile-outgoing-wrapper {
    background-color: rgb(0, 255, 0);
}
.profile-incoming-wrapper {
    background-color: rgb(255, 0, 221);
}
