.artworks-page {
  padding: 0 0 3rem 0;
  margin-top: 2rem;
  box-sizing: border-box;
}

/* FILTER INTERFACE BUTTON */
.artworks-filterinterfacebutton-wrapper {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.artworks-filterinterfacebutton-wrapper-inner {
  position: fixed;
  top: calc(var(--navbarHeightMobile) + 1rem);
  right: 0.4rem;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 1rem;
  z-index: 400;
}
#no-border-button {
  border: none;
  margin: 2px;
}
.artworks-filterinterfacebutton-icon-wrapper {
  width: 30px;
  display: flex;
}
.artworks-filterinterfacebutton-icon-wrapper > img {
  width: 100%;
}

/* ARTWORKS CARDS */
.artworks-artwork-cards {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.artworks-no-artworks-wrapper {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artworks-no-artworks-icon-wrapper {
  width: 60px;
}
.artworks-no-artworks-icon-wrapper > img {
  width: 100%;
}
.artworks-no-artworks-headline {
  font-weight: 400;
}
