.artwork-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  margin: 2rem 0;
}

.artwork-details-title-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}

.artwork-details-title{
  font-size: 1.4rem;
  max-width: 80%;
  font-style: italic;
}

.artwork-details-info-favorite {
  position: absolute;
  right: 0;
  z-index: 100;
  font-size: 1.2rem;
  cursor: pointer;
}

.artwork-details-images-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.artwork-details-images-main {
  /* border: 1px solid black; */
  height: 280px;
}

.artwork-details-images-main > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.artwork-details-thumbnail-wrapper {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.artwork-details-thumbnail {
  height: 60px;
}

.artwork-details-thumbnail > img {
  height: 100%;
}

.artwork-details-info-wrapper {
  position: relative;
}

.artwork-details-info-text {
  width: 80%;
}

.artwork-details-request-button {
  padding: 0.6rem 1.6rem;
  width: 100%;
}

.artwork-details-request-message {
  text-align: center;
  padding: 0.4rem;
  background-color: rgb(219, 219, 219);
  color: rgb(113, 113, 113);
}
