#CreateArtworkPage {
  margin: 2rem 0 0 0;
}

.create-artwork-heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-artwork-heading {
  /* font-size:1.2rem; */
}

.create-artwork-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.create-artwork-input {
  /* padding: 0.4rem 1rem;
  border: none;
  border-bottom: 2px solid black;
  background-color: white; */
}

.create-dimensions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-dimensions-wrapper > input {
  width: 50px;
  text-align: center;
}

.create-artwork-img-section {
  /* height: 100%; */
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* .file-input-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
  } */

.create-artwork-thumbnail-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.create-artwork-img-thumbnail {
  width: fit-content;
  display: flex;
  gap:0.3rem;
  border-radius: 4px;
}

.create-artwork-img-wrapper{
  width: 130px;
  height: 130px;
  border-radius: 10px;
  overflow: hidden;
}

.create-artwork-img-wrapper > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.create-artwork-img-thumbnail > img:hover {
  border: 1px solid mediumspringgreen;
}



.create-artwork-submit-button {
  /* margin-top: 2rem;
  background-color: var(--lime); */
}

.create-artwork-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 3rem 0;
}

.create-artwork-button-delete {
  background-color: var(--grey);
}
.create-artwork-button-submit {
  background-color: var(--lime);
}